<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="RunJettyRunWebApp">
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="solr/home" value="/Data/Projects/CrawlAnywhere.400/solr-contrib/analyzer-nterm/solr-4.10.1-home"/>
</mapAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="RunJettyRunWebAppClassPathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="runjettyrun.Bootstrap"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="analyzer-nterm"/>
<stringAttribute key="run_jetty_run.CONTEXT_ATTR" value="/solr"/>
<booleanAttribute key="run_jetty_run.ENABLE_JNDI_ATTR" value="false"/>
<booleanAttribute key="run_jetty_run.ENABLE_NEED_CLIENT_AUTH_ATTR" value="false"/>
<booleanAttribute key="run_jetty_run.ENABLE_PARENT_LOADER_PRIORITY_ATTR" value="true"/>
<booleanAttribute key="run_jetty_run.ENABLE_SCANNER_ATTR" value="false"/>
<booleanAttribute key="run_jetty_run.ENABLE_SSL_ATTR" value="false"/>
<booleanAttribute key="run_jetty_run.IGNORE_SCAN_CLASS_WHEN_DEBUG_MODE" value="true"/>
<stringAttribute key="run_jetty_run.JETTY_XML_PATH" value=""/>
<stringAttribute key="run_jetty_run.KEYSTORE_ATTR" value="/Users/bejean/.keystore"/>
<stringAttribute key="run_jetty_run.KEY_PWD_ATTR" value="changeit"/>
<stringAttribute key="run_jetty_run.PORT_ATTR" value="8080"/>
<stringAttribute key="run_jetty_run.PWD_ATTR" value="changeit"/>
<stringAttribute key="run_jetty_run.SCANINTERVALSECONDS_ATTR" value="5"/>
<booleanAttribute key="run_jetty_run.SHOW_ADVANCE_ATTR" value="false"/>
<stringAttribute key="run_jetty_run.SSL_PORT_ATTR" value="8443"/>
<stringAttribute key="run_jetty_run.WEBAPPDIR_ATTR" value="solr-4.10.1/webapp"/>
</launchConfiguration>
